@import url("https://fonts.googleapis.com/css2?family=Arimo");
body {
  font-family: "Arimo";
  font-style: normal;
  font-weight: normal;
  text-align: right; }

header, .greeting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.suggestion .suggestion__new, .suggestion .suggestion__search, header .user-photo, main, .head .head-text span, .head .head-logo, .edit-mode .edit-mode__item .round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.head, .head .head-text, .suggestion, .edit-mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

header .user-info, .greeting p {
  font-size: 16px;
  line-height: 18px; }

.suggestion .suggestion__new, .suggestion .suggestion__search input {
  font-size: 24px;
  line-height: 28px; }

.suggestion .suggestion__new, .suggestion .suggestion__search {
  width: 350px;
  height: 58px;
  border-radius: 35px;
  border: none;
  outline: none; }

body {
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

h1,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0; }

.container {
  width: 100%;
  min-height: 100vh;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(12.59%, rgba(0, 0, 0, 0.2)), color-stop(101.31%, rgba(0, 0, 0, 0))), rgba(33, 50, 94, 0.8);
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.2) 12.59%, rgba(0, 0, 0, 0) 101.31%), rgba(33, 50, 94, 0.8);
  background-repeat: repeat-y;
  mix-blend-mode: normal; }

h1 {
  font-size: 48px;
  line-height: 55px; }

h3 {
  font-size: 24px;
  line-height: 28px; }

b {
  font-weight: 700; }

header {
  width: 100%;
  height: 106px;
  background: #fff;
  -webkit-filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.2)); }
  header .user-info {
    width: 200px;
    white-space: pre-line;
    color: #009c41;
    -ms-flex-item-align: end;
        align-self: flex-end; }
  header .user-photo {
    width: 38px;
    height: 38px;
    margin: 20px;
    background: #009c41;
    border-radius: 10px; }

.greeting-txt {
  color: #ff7728;
  display: none; }

.greeting {
  width: 100%;
  height: 76px;
  background: #eee; }
  .greeting p {
    margin-right: 62px;
    color: #5f5f5f; }

main {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

@media screen and (max-width: 1100px) {
  h1 {
    font-size: 28px;
    line-height: 32px; }

  .greeting-txt {
    display: block; }

  .greeting {
    display: none; }

  header {
    height: 63px; }
    header .user-info {
      font-size: 10px;
      line-height: 10px;
      -ms-flex-item-align: center;
          align-self: center; }
    header .user-photo {
      width: 30px;
      height: 30px;
      margin: 10px; } }
body {
  background-image: url("../assets/sub-bg.jpg"); }

header .user-info {
  -ms-flex-item-align: center;
      align-self: center; }
header .user-photo {
  border-radius: 50%; }

.for-mob {
  display: none; }

.head {
  max-width: 1076px;
  width: 1076px;
  height: auto;
  margin-top: 43px;
  border-bottom: 5px solid #fff; }
  .head .head-text {
    width: 970px;
    height: 58px;
    color: #5f5f5f;
    background: #fff;
    border-radius: 35px; }
    .head .head-text span {
      width: 50%; }
    .head .head-text .last {
      width: 485px;
      height: 58px;
      border-radius: 35px;
      color: #fff;
      background: #ff7728; }
  .head .head-logo {
    width: 76px;
    height: 76px; }

.suggestion {
  max-width: 1076px;
  width: 1076px;
  margin-top: 40px; }
  .suggestion .suggestion__new {
    width: 284px;
    background: #009c41;
    color: #fff;
    cursor: pointer;
    -webkit-transition: linear 0.5s;
    transition: linear 0.5s; }
    .suggestion .suggestion__new img {
      margin-right: 15px; }
    .suggestion .suggestion__new:hover {
      background: #00692c; }
    .suggestion .suggestion__new:active {
      -webkit-transform: translateY(10px);
              transform: translateY(10px); }
    .suggestion .suggestion__new.mob {
      display: none; }
  .suggestion .suggestion__search {
    width: 754px;
    background: #fff; }
    .suggestion .suggestion__search img {
      cursor: pointer; }
    .suggestion .suggestion__search input {
      width: 90%;
      height: 50%;
      direction: rtl;
      unicode-bidi: bidi-override;
      color: #21325e;
      border: none;
      outline: none; }
      .suggestion .suggestion__search input::-webkit-input-placeholder {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        color: #b1b1b1; }
      .suggestion .suggestion__search input:-ms-input-placeholder {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        color: #b1b1b1; }
      .suggestion .suggestion__search input::-ms-input-placeholder {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        color: #b1b1b1; }
      .suggestion .suggestion__search input::placeholder {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        color: #b1b1b1; }

.content {
  margin-top: 35px;
  margin-bottom: 35px; }

.content__head {
  width: 1076px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(8, 3fr) 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center; }
  .content__head p {
    color: #f5f5f5;
    font-size: 14px;
    line-height: 16px; }

.content__items {
  width: 1076px; }
  .content__items .item {
    width: 1076px;
    display: grid;
    grid-template-columns: repeat(8, 3fr) 1fr;
    grid-auto-rows: 45px;
    margin-bottom: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    background: #fff;
    border-radius: 35px;
    -webkit-transition: linear 0.5s;
    transition: linear 0.5s;
    position: relative;
    cursor: pointer; }
    .content__items .item p {
      color: #f5f5f5;
      font-size: 14px;
      line-height: 16px;
      color: #21325e;
      text-align: center; }
      .content__items .item p:not(p:last-of-type) {
        border-right: 1px solid #e5e5e5; }
      .content__items .item p i {
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
        color: #009c41;
        display: none; }
      .content__items .item p.checked i {
        display: block; }
    .content__items .item:hover, .content__items .item.item-active {
      background: #ff7728; }
      .content__items .item:hover p, .content__items .item.item-active p {
        color: #fff; }
        .content__items .item:hover p:not(p:last-of-type), .content__items .item.item-active p:not(p:last-of-type) {
          border-right: 1px solid #fff; }
        .content__items .item:hover p i, .content__items .item.item-active p i {
          color: #fff; }
      .content__items .item:hover .edit-mode, .content__items .item.item-active .edit-mode {
        opacity: 1; }

.edit-mode {
  width: 102px;
  position: absolute;
  top: 0;
  left: 1088px;
  opacity: 0;
  -webkit-transition: linear 0.5s;
  transition: linear 0.5s; }
  .edit-mode .edit-mode__item {
    cursor: pointer; }
    .edit-mode .edit-mode__item .round {
      width: 45px;
      height: 45px;
      margin-bottom: 3px;
      border-radius: 50%;
      background: #fff;
      -webkit-transition: linear 0.5s;
      transition: linear 0.5s; }
    .edit-mode .edit-mode__item:hover .round {
      background: #ff7728; }

.content-mob {
  display: none; }

@media screen and (max-width: 1300px) {
  .content {
    display: none; }

  .content-mob {
    width: 90%;
    margin-top: 26px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 383px;
    row-gap: 26px;
    -webkit-column-gap: 3%;
            column-gap: 3%; }
    .content-mob .content-mob__item {
      background-color: white;
      border-radius: 30px; }
      .content-mob .content-mob__item .content-mob__item-head {
        width: 90%;
        height: 40px;
        margin: 0 auto;
        padding: 15px 0 13px;
        border-bottom: 2px solid #1d4076;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .content-mob .content-mob__item .content-mob__item-head .mode {
          width: 95px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between; }
          .content-mob .content-mob__item .content-mob__item-head .mode .mode__item {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #009c41;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            cursor: pointer;
            -webkit-transition: linear 0.5s;
            transition: linear 0.5s; }
            .content-mob .content-mob__item .content-mob__item-head .mode .mode__item:hover {
              background: #00692c; }
      .content-mob .content-mob__item .content-mob__item-info {
        width: 90%;
        margin: 13px auto 0;
        text-align: right; }
        .content-mob .content-mob__item .content-mob__item-info .info__name {
          font-size: 18px;
          line-height: 21px;
          color: #797979; }
        .content-mob .content-mob__item .content-mob__item-info .info__content {
          font-weight: 700;
          font-size: 20px;
          line-height: 23px;
          color: #21325e; }
        .content-mob .content-mob__item .content-mob__item-info.info-block {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: end;
              -ms-flex-pack: end;
                  justify-content: flex-end; }
          .content-mob .content-mob__item .content-mob__item-info.info-block div {
            width: 50%; }
            .content-mob .content-mob__item .content-mob__item-info.info-block div .main {
              font-weight: 700;
              font-size: 20px;
              line-height: 23px;
              color: #009c41; } }
@media screen and (max-width: 1100px) {
  header .user-photo {
    border-radius: 10px; }

  .for-mob {
    display: block; }

  .for-desk {
    display: none; }

  .head {
    width: 85%;
    margin-top: 27px;
    border-bottom: none; }
    .head .head-text {
      height: 40px;
      font-size: 18px;
      line-height: 21px; }
      .head .head-text .last {
        height: 40px;
        width: 50%; }
    .head .head-logo {
      width: 39px;
      height: 39px; }
      .head .head-logo img {
        width: 39px; }

  .suggestion {
    width: 85%;
    margin-top: 26px;
    font-size: 18px;
    line-height: 21px;
    border-bottom: 3px solid white;
    padding-bottom: 26px; }
    .suggestion .suggestion__new {
      display: none;
      width: 40px;
      height: 40px;
      border-radius: 50%; }
      .suggestion .suggestion__new img {
        margin-right: 0; }
      .suggestion .suggestion__new.mob {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
    .suggestion .suggestion__search {
      width: 85%;
      height: 40px; }
      .suggestion .suggestion__search input {
        width: 80%; }
        .suggestion .suggestion__search input::-webkit-input-placeholder {
          font-weight: 400; }
        .suggestion .suggestion__search input:-ms-input-placeholder {
          font-weight: 400; }
        .suggestion .suggestion__search input::-ms-input-placeholder {
          font-weight: 400; }
        .suggestion .suggestion__search input::placeholder {
          font-weight: 400; }

  .content-mob {
    grid-template-columns: repeat(2, 1fr); } }
@media screen and (max-width: 700px) {
  .content-mob {
    grid-template-columns: 1fr; } }
